---
import Banner from '../components/Banner';
import Team from '../components/Team';
import Testimonial from '../components/Testimonial';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <Banner title={'About Us'}/>

    <main class=" mx-auto py-18 px-4 text-center mt-8">
        <section class="flex flex-col">
        <div class="w-[70%] mb-12 mx-auto">
            <h2 class="text-5xl text-red-800  mt-10 mb-5 font-extrabold">WE       ARE TRISHAKTI</h2>
            <p class="mb-6 text-xl text-gray-500">``Trishakti' (Three goddesses manifesting from the bodies of Brahma Vishnu and Shiva).</p>
            <blockquote class=" text-gray-800 border-l-4 border-red-500 px-4 py-3   mt-12 rounded-md shadow-lg">
                <p class="mb-6 text-2xl p-5 text-left">We have come a long way Since 1991 when we started out as a small family business. Over the years, our Policy may have changed, but one underlying idea has stayed the same, <br/> The customer is at the center of everything we do</p>

                </blockquote>

       
        </div>
        <Team/>
        <Testimonial/>
          <img  src="/assets/5.jpeg" height="500px" alt="Image 1" class="w-full mb-6  object-cover object-center rounded-lg">
        </section>
    
       
        
      </main>

</Layout>


