---

import Banner from '../components/Banner';
import Blog from '../components/Blog';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
    <Banner title={'Our Blogs'}/>

    <main class=" mx-auto py-18 px-4 text-center mt-8">
     
       <Blog/>
        
      </main>

</Layout>


