---
import Banner from '../components/Banner';
import Swiper from '../components/Swiper';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Our products of Trishakti Stores">
	<Banner title={'Our Products'}/>

<main >
	<div class="my-6">
		<div class="container mx-auto px-4 text-center my-12">
		  <h1 class="text-4xl font-bold text-red-900 mt-12">Our Products
	  </h1>
		  <p class=" text-gray-600 pt-3 text-2xl">Here are some highlights of our products
	  
	  </p>
		</div>
	  </div>
	<Swiper client:load />
</main>
</Layout>

